
* {
    box-sizing: border-box;
}
.class-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.card {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 15px;
    background:rgb(65, 135, 142, 0.6);


}